body {
    background-color: #000000;
    color: #ffffff;
    border-radius: 10px;
    font-family:'Courier New', Courier, monospace;
}

* {
   background-color: #ffffff;
   color: black;
   border-radius: 10px; 
   background-size: 10px;
}